/* styles/rafting.css */

:root {
   --primary-color: #0d3b66;
    --secondary-color: #faf0ca;
    --accent-1: #f4d35e;
    --accent-2: #ee964b;
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--accent-1);
  color: var(--text);
}

header {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 150px;
  height: auto;
  margin-left: 10rem;
}

.navbar {
  display: flex;
  gap: 1rem;
  margin-right: 10rem;
}

.navbar a {
  background-color: var(--accent-2);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  color: var(--text);
  box-shadow: var (--bg-light) 0px 2px 4px;
}

.hero {
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  border: 5px solid var(--primary-color);
  background: var(--bg-light);
}

.hero h1 {
  font-family: var(--font-heading);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.About {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.About img {
  max-width: 250px;
  height: auto;
  flex-shrink: 0;
}

.About p {
  line-height: 1.6;
  margin-bottom: 1rem;
  flex: 1 1 100%;
}

.history {
  background:var(--secondary-color);
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid var(--primary-color);
  text-align: center;
}

.history h2 {
  font-family: var(--font-heading);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.history-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.history-content p {
  flex: 1;
  max-width: 300px;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text);
}

.history-content img {
  width: 350px;
  height: 200px;
  background: var(--accent);
  padding: 1rem;
  border-radius: 10px;
}

.adventure {
  padding: 2rem;
  background-color: var(--bg-light);
  text-align: center;
}

.adventure h2 {
  font-family: var(--font-heading);
  margin-bottom: 1.5rem;
}

.adventure-images {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.adventure-images figure {
  text-align: center;
  width: 100px;
}

.adventure-images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  background: var(--accent-1);
  border-radius: 8px;
}

footer {
  background: var(--primary-color);
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: 0.5rem 0;
}

.socialmedia {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.socialmedia img {
  width: 24px;
  height: 24px;
}
